.main_navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
}

.main_navbar .nav-link{
    color: rgb(180,178,183);
    font-size: 18px;
    font-weight: bold;
}

.main_navbar .nav-link:hover{
    color: #61dafb;
}

.main_navbar .nav-link.active{
    color: white;
    opacity: 1;
}

.main_navbar .navbar-brand{
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
}